* {
  margin: 0rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background-color: black;
  color: white;
}

header,
main,
section {
  margin: 1rem;
  font-size: 1rem;
}

textarea {
  width: 100%;
  height: 20rem;
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
}

.back {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.hidden {
  display: none;
}

.output {
  width: 100%;
  height: auto;
  min-height: 10rem;
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 0.25rem;
}

.outputprint {
  width: 100%;
  height: auto;
  min-height: 10rem;
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
  background-color: white;
  color: black;
  padding: 0.25rem;
}

.outputline {
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h2 {
  margin-bottom: 1rem;
}

a {
  color: white;
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid cornflowerblue;
  padding: 0.5rem;
  text-align: left;
}

th {
  /* 100, 148, 237 */
  background-color: rgb(50, 74, 153);
}

.bold {
  font-weight: bold;
}

.container {
  max-width: 80rem;
  margin: auto;
  background-image: linear-gradient(45deg, #000060, #0000c0);
  color: white;
  padding: 1rem;
}

.settings {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  row-gap: 2rem;
  column-gap: 2rem;
}

