/*
https://transfonter.org/
*/

@font-face {
  font-family: "Liberation Mono";
  src: url("fonts/LiberationMono-Bold.woff2") format("woff2"),
    url("fonts/LiberationMono-Bold.woff") format("woff"),
    url("fonts/LiberationMono-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Liberation Mono";
  src: url("fonts/LiberationMono-BoldItalic.woff2") format("woff2"),
    url("fonts/LiberationMono-BoldItalic.woff") format("woff"),
    url("fonts/LiberationMono-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Liberation Mono";
  src: url("fonts/LiberationMono.woff2") format("woff2"),
    url("fonts/LiberationMono.woff") format("woff"),
    url("fonts/LiberationMono.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Liberation Mono";
  src: url("fonts/LiberationMono-Italic.woff2") format("woff2"),
    url("fonts/LiberationMono-Italic.woff") format("woff"),
    url("fonts/LiberationMono-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

:root {
  --theme-color: black;
  --theme-color-bg: white;
}

* {
  margin: 0rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background-color: black;
  color: white;
}

header {
  margin: 1rem;
  font-size: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  row-gap: 2rem;
  column-gap: 2rem;
}

main,
section {
  margin: 1rem;
  font-size: 100%;
}

textarea {
  background-color: var(--theme-color-bg);
  color: var(--theme-color);
  width: 100%;
  height: 20rem;
  font-family: "Liberation Mono", "Courier New", Courier, monospace;
  font-size: 1em;
}

.back {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.hidden {
  display: none;
}

.output {
  width: fit-content;
  min-width: 100%;
  height: auto;
  min-height: 10rem;
  font-family: "Liberation Mono", "Courier New", Courier, monospace;
  background-color: var(--theme-color-bg);
  color: var(--theme-color);
  padding: 0.25rem;
}

.outputprint {
  width: fit-content;
  min-width: 100%;
  height: auto;
  min-height: 10rem;
  font-family: "Liberation Mono", "Courier New", Courier, monospace;
  background-color: white;
  color: black;
  padding: 0.25rem;
}

fieldset {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  row-gap: 1rem;
  column-gap: 1rem;
}

.input-chord-info {
  width: 6rem;
}

.output-chord-info {
  display: inline-block;
  width: fit-content;
  min-width: 10rem;
  background-color: white;
  color: black;
  border: 1px solid darkgray;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.keyboard {
  background-color: white;
  color: black;
  border: 1px solid black;
  height: 50px;
  width: 250px;
}

.ukulele {
  background-color: white;
  color: black;
  border: 1px solid black;
  height: 80px;
  width: 50px;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h2 {
  margin-bottom: 1rem;
}

a {
  color: white;
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid cornflowerblue;
  padding: 0.5rem;
  text-align: left;
}

th {
  /* 100, 148, 237 */
  background-color: rgb(50, 74, 153);
}

.bold {
  font-weight: bold;
}

.container {
  width: fit-content;
  min-width: 100%;
  background-image: linear-gradient(45deg, #000060, #0000c0);
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.settings {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  row-gap: 2rem;
  column-gap: 2rem;
}

#numberOfChords {
  font-weight: bold;
}

.menu-button {
  background-color: #0000FF;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.menu {
  position: relative;
  display: inline-block;
}

.menu-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.menu-content div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.menu:hover .menu-content {
  display: block;
}

.menu:hover .menu-button {
  background-color: #0000CC;
}
