* {
  margin: 0rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background-image: linear-gradient(45deg, #000060, #0000c0);
  color: white;
}

header,
main,
section {
  margin: 1rem;
  font-size: 1rem;
}

textarea {
  width: 100%;
  height: 20rem;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

a {
  color: white;
}

h2 {
  margin-bottom: 1rem;
}

table {
  border-collapse: collapse;
}

td {
  border: 1px solid cornflowerblue;
  padding: 0.5rem;
  text-align: left;
}

.settings {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  row-gap: 2rem;
  column-gap: 2rem;
}

#output {
  height: 90vh;
}
